@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Share+Tech&display=swap');


/* Entendí muy tarde cómo avanzar, y ya para que quede más bonito y manejable no alcanzo, mi meta solo era alcanzar a subir aunque sea un avance */


/* ---------------------
----    INICIAL     ----
----------------------*/


header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.brand {
    display: flex;
    align-items: center;
    gap: 80px;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 100px;
    height: auto;
}

.search-box input {
    width: 180px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input[type="search"] {
    margin-bottom: 6px;
    height: 35px;
    width: 200px;
    border-radius: 10px;
}

body {
    background: linear-gradient(150deg, rgb(246, 153, 228), rgb(0, 0, 0));
    color: white;
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: initial;
    overflow-x: hidden;
}

svg {
    color: aqua;
    opacity: 60%;
    height: auto;
}

h1 {
    color: rgba(112, 58, 161, 0.721);
    font-size: 35px;
}

h2 {
    margin: 10px;
    font-size: 35px;
}

main {
    min-height: 8px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 3rem;
}

body.register-page main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
}

body.login-page main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
}

.flecha-container {
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    padding-left: 1px;
    animation: moverFlecha 1.5s ease-in-out infinite;
}

@keyframes moverFlecha {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

/*busqué tipo de animación en redes para la flecha y para el cambio de color de los botones*/
a {
    margin: 5px 8px;
}

.btn-btn-success,
.btn-btn-primary {
    color: rgb(253, 208, 216);
    background-color: palevioletred;
    padding: 13px;
    margin: 10px;
    height: 50px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 8px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-btn-primary:hover {
    background-color: aqua;
    color: rgba(0, 0, 0, 0.728);
}

.btn-btn-success:hover {
    background-color: aqua;
    color: rgba(0, 0, 0, 0.729);
}

footer {
    background-color: rgb(51, 25, 53);
    min-height: 150px;
    height: auto;
    width: 100%;
    line-height: 29px;
    font-size: 100%;
}

p {
    color: rgb(222, 212, 221);
}

ul {
    display: flex;
    font-size: 20px;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 23px;
    margin: 20px 0;
    gap: 20px;
}

hr {
    opacity: 60%;
}

@media (max-width: 576px) {
    ul {
        flex-direction: column;
    }
}

i {
    color: rgb(120, 39, 130);
    font-size: 20px;
}

/* ---------------------
-------- REGISTER ------
----------------------*/

.register-card {
    background-color: rgba(255, 255, 255, 0.12) !important;
    border: none !important;
    color: white;
    margin: auto;
    border-radius: 20px;
    backdrop-filter: blur(12px);
    justify-content: center;
    width: 387px;
    height: 600px;
    height: auto;
    margin: auto;
}

.register-card label {
    margin-bottom: 5px;
    color: white;
}

.btn-register {
    color: rgb(253, 208, 216);
    background-color: palevioletred;
    display: block;
    margin: 20px auto;
    padding: 10px;
    height: 50px;
    width: 150px;
    text-decoration: none;
    justify-content: center;
    font-size: 16px;
    border-radius: 8px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-register:hover {
    background-color: aqua;
    color: rgba(0, 0, 0, 0.728);
}

button.btn-register {
    border: none !important;
}

/*----- register dentro de la registerTARJETA -----*/

.register-card input {
    border: 1px solid rgba(255, 255, 255, 0.4);
    font-size: 18px !important;
    width: 300px;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    background-color: rgba(242, 206, 228, 0.566);
}

.register-card input::placeholder {
    color: rgba(0, 0, 0, 0.333);
}

/* me faltó tiempo :( */

/* ---------------------
-------- LOGIN ----------
----------------------*/

.login-card {
    background-color: rgba(255, 255, 255, 0.193) !important;
    border: none !important;
    color: white;
    margin: auto;
    border-radius: 20px;
    backdrop-filter: blur(12px);
    justify-content: center;
    width: 300px;
    height: auto;
    max-height: 600px;
    margin: auto;
}

.login-card label {
    margin-bottom: 5px;
    color: white;
}

.btn-login {
    color: rgb(253, 208, 216);
    background-color: palevioletred;
    display: block;
    margin: 20px auto;
    padding: 10px;
    height: 50px;
    width: 150px;
    text-decoration: none;
    justify-content: center;
    font-size: 16px;
    border-radius: 8px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-login:hover {
    background-color: aqua;
    color: rgba(0, 0, 0, 0.728);
}

button.btn-login {
    border: none !important;
}

/*----- login dentro de la loginTARJETA -----*/

.login-card input {
    border: 1px solid rgba(255, 255, 255, 0.4);
    font-size: 18px !important;
    width: 300px;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    background-color: rgba(242, 206, 228, 0.566);
}

.login-card input::placeholder {
    color: rgba(0, 0, 0, 0.333);
}

/* ----------------------
--------- MENU ----------
-----------------------*/

.menu-card, 
.shadow-sm {
    background-color: rgba(255, 255, 255, 0.432) !important;
    border: none !important;
    color: white;
    margin: auto;
    border-radius: 20px;
    backdrop-filter: blur(12px);
    width: auto;
    min-height: 250px;
    height: auto;
}

.menu-card label {
    margin-bottom: 5px;
    color: white;
}

.btn-success, 
.btn-primary {
    color: rgb(253, 208, 216);
    background-color: palevioletred;
    display: block;
    margin: 20px auto;
    padding: 13px;
    height: 50px;
    min-height: 100%;
    min-width: 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    border: none;
}

.btn-success:hover, .btn-primary:hover {
    background-color: aqua;
    color: rgba(0, 0, 0, 0.728);
}

/*----- diseño de la menuTARJETA -----*/

.menu-card input {
    border: 1px solid rgba(255, 255, 255, 0.4);
    font-size: 18px !important;
    width: 100%;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    background-color: rgba(242, 206, 228, 0.566);
}

.menu-card input::placeholder {
    color: rgba(22, 21, 21, 0.333);
}


/* ---- color letras DENTRO DE LA TARJETA -----*/


.saldo-title {
    margin-top: 30px;
    color: #841b6a;
    opacity: 80%;
}

.saldo-valor {
    color: #511b44;
    opacity: 80%;
    font-size: 30px;
    margin-top: 10px;
}
.saldo-actual {
    color: #433b41;
    opacity: 80%;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.shadow-sm{
    
    background-color: rgba(255, 255, 255, 0.432) !important;
    color: #511b44;
    margin: auto;
    border-radius: 20px;
    width: 100%;
    min-height: 250px;
}

.shadow-sm p{

    color: #433b41;
    opacity: 80%;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* ---------------------
---- SENDMONEY - ENVIAR DINERO ------
----------------------*/


/* ---------------------
------ TRANSACTION -----
----------------------*/